@page
@model PasswordChangeModel
@{
    Layout = "~/Pages/_Layout_PasswordChange.cshtml";
}
@{
    ViewData["Title"] = @Loc["ProAlfa Truck Management"];
}

<div class="container parentbody-content">
    <div class="container body-content">
        <form class="box login" method="POST">
            <header>
                <img src="~/images/vg_logo.png">
            </header>
            <fieldset class="boxBody">
                <label style="font-size: large; font-weight: bold">@Loc["Password change"]</label>
                <br />
                <label>@Loc["Please, create permanent password, which you will use for access to ProAlfa Truck Management."]</label>
                <br />
                <label>@Loc["Password"]</label>
                <input type="password" id="Password1" asp-for="NewPwd.Password1" tabindex="1" autofocus>
                <span asp-validation-for="@Model.NewPwd.Password1"></span>
                <label>@Loc["Confirm password"]</label>
                <input type="password" id="Password2" asp-for="NewPwd.Password2" tabindex="2">
                <span asp-validation-for="@Model.NewPwd.Password2"></span>
                <br />
                <label>
                    <input type="checkbox" onclick="myFunction()">@Loc["Show password"]</label>
                    <br />
                    <br />
                    <input type="submit" name="btnCancel" class="btnCancel" asp-page-handler="Cancel" style="float: right;" value=@Loc["Cancel"] tabindex="4">
                    <input type="submit" name="btnOk" class="btnOK" asp-page-handler="OK" style="float: right;" value=@Loc["OK"] tabindex="3">
            </fieldset>
            <footer>
                <label>@Model.NewPwd.Text</label>
            </footer>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("Password1");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            var y = document.getElementById("Password2");
            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
    </script>
}